.footer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

ul li {
    list-style: none;
    margin: 15px;
    margin-left: -40px;
}

.copyright {
    text-align: center;
}


